div.galleronio {
  min-width: 100px;
  min-height: 100px;
  position: relative; padding: 0;
}

div.galleronio ul {
  padding:0;
  margin:0;
}

div.galleronio ul li {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='60px'><text x='0' y='15' fill='grey' font-size='20'>loading</text></svg>");
  background-position: center;
  background-repeat: no-repeat;
}

div.galleronio img.loading {
  opacity: 0;
}

div.galleronio button {
  position: absolute;
  top: auto;
  height:100%;
  width: 25%;
  z-index: 3;
  background: none;
  border:0;
  user-select: none;
  outline:0;
  color: #eee;
  font-size:40px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

div.galleronio button:hover {
  opacity: 0.6;
}

div.galleronio button.btn-next {
  right: 0px;
}

div.galleronio ul li {
  display: block;
  width:100%;
  height:100%;
  position: absolute;
  transition: opacity 0.4s ease-in;
  opacity: 0;
}

div.galleronio ul li.active {
  z-index: 1;
  opacity: 1;
}

div.galleronio ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in;
}